.list-tasks {
  flex: 1;
  position: relative;
  overflow: auto;
  padding-bottom: 80px;
}

.list-tasks > .todo-card {
  border-radius: 0;
  padding: .5rem 24px;
  text-align: left;
}

.list-tasks > .done {
  background-color: #ddd;
  text-decoration: line-through;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content > .todo-title {
  flex: 1;
}

.list-tasks > .add-icon {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
}